
<% x=0 %>

<% @all_accounts.each do |account| %>
  <br>
  <h1><%= @names[x] %></h1> 
  <p>$<%= account.pretty_tally %></p>
  <hr>
  <table>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Average Transaction</th>
    </tr>

    <% account.categories.each do |category, t| %>
      <tr>
        <td><%= category %></td>
        <td>$<%= t.pretty_tally %></td>
        <td align="right">$<%= t.pretty_avg_transaction %></td>
      </tr>
    <% end %>
  </table>
  <br>

  <% x += 1 %>
<% end %>

<a href="http://localhost:4567/">Home</a>