<br>
<h1><%= @name1 %></h1> 
  <p>$<%= @balance1 %></p>
  <hr>
  <table>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Average Transaction</th>
    </tr>
<% @sonia.categories.each do |category, t| %>
    <tr>
      <td><%= category %></td>
      <td>$<%= t.pretty_tally %></td>
      <td align="right">$<%= t.pretty_avg_transaction %></td>
    </tr>
  <% end %>
  </table>
<br>
<br>
<h1><%= @name2 %></h1> 
  <p>$<%= @balance2 %></p>
  <hr>
  <table>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Average Transaction</th>
    </tr>
<% @priya.categories.each do |category, t| %>
    <tr>
      <td><%= category %></td>
      <td>$<%= t.pretty_tally %></td>
      <td align="right">$<%= t.pretty_avg_transaction %></td>    
    </tr>
  <% end %>
  </table>
<br>

<a href="http://localhost:4567/">Home</a>
