<br>
<h1><%= @name %></h1> 
  <p>$<%= @account.pretty_tally %></p>

<!-- action is the the method that runs in the main.rb. -->
  <form action ="/submit" method ="post">
<!--  "name" is the key, anything the user puts in the box is the value -->
   <p> <input type="hidden" value="<%= @name %>" name="account"></input></p>
   <p><input type="text" placeholder="date" name="date"></input><br></p>
   <p> <input type="text" placeholder="paye" name="payee"></input></p>
   <p> <input type="text" placeholder="category" name="category"></input></p>
   <p> <input type="text" placeholder="outflow" name="outflow"></input></p>
   <p> <input type="text" placeholder="inflow" name="inflow"></input></p>
   <p> <input type="Submit"></p>

  </form>

  <hr>
  <table>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Average Transaction</th>
    </tr>
<% @account.categories.each do |category, t| %>
    <tr>
      <td><%= category %></td>
      <td>$<%= t.pretty_tally %></td>
      <td align="right">$<%= t.pretty_avg_transaction %></td>
    </tr>
  <% end %>
  </table>
<br>

<a href="http://localhost:4567/index">Home</a>